// color collection
:root {
    --color-text: #FFFFFF;
    --color-subtitle: #77777E;
    --color-stroke: #252627;
    --color-stroke-alt: #2F3031;
    --color-neutral: #0D0E0F;
    --color-background: #1C1C1D;
    --color-information: #0370FF;
    --color-success: #05E344;
    --color-warning: #FFFF04;
    --color-danger: #FF2723;
}